body {
    margin: 0px;
}

.quizScreen {
    margin: 0px;
    background-color: rgb(0,119,245) !important;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.width-30-rem {
    width: 30rem;
}

.countAndButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0px 16px 16px 16px;
}

.padding-16-16-8-16 {
    padding: 16px 16px 8px 16px !important;
}

.questionCounterContainer{
    margin-left: 16px;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.05);
}

.bg-danger, .bg-success {
    color: white !important;
}

.card-body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* CSS TOOLS *//* CSS TOOLS *//* CSS TOOLS */

.d-none {
    display: none;
}

.d-block {
    display: block;
}

/* CSS TOOLS *//* CSS TOOLS *//* CSS TOOLS */